.direction {
  padding: 100px 0;
}

.direction__inner {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.direction__text {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #d9d9de;
  border-top: none;
  padding: 10px 19px 12px;
}

.direction__img {
  display: block;
  width: 100%;
}
