.tour {
  padding: 100px 0;
}

.tour__top-inner {
  font-size: 18px;
  line-height: 130%;
  text-align: left;
  border-bottom: 1px solid #d9d9de;
  padding-bottom: 65px;
  margin-bottom: 50px;
  column-count: 2;
  column-gap: 46px;
}

.top-inner__text {
  margin-bottom: 10px;
}

.top-inner__textspan {
  font-weight: 700;
}

.table {
  margin-top: 44px;
}
.table-td {
  max-width: 277px;
  padding-right: 70px;
}
.table-td:last-child {
  max-width: 277px;
  padding-right: 0px;
}

.table-tr-span {
  font-size: 51px;
  font-weight: 700;
  line-height: 130%;
  color: #886239;
}

.table-tr {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
}
